[data-page=".global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #778899;
}
[data-page=".global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #6DA5C8;
}
[data-page=".global_menu"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


